.barra-nav {
    display: flex;
    justify-content: baseline;
    border-bottom: 1px solid gray;
    /* background-color: white; */
}

.barra-nav_lista {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.barra-nav_item {
    margin: 1em 2em;
}

.barra-nav_item-g {
    margin: 1em;
}

.barra-nav_A {
    font-size: 20px;
    text-decoration: none;
    /* color: #282C34; */
    color: white;
    font-weight: 600;
}

.barra-nav_A:hover {
    color: gray;
}