.barra-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    /* background-color: #1b2a34; */
    background-color: white;
}

.barra-nav_lista {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 5em;
}

.barra-nav_item {
    margin: 1em 2em;
}

.barra-nav_item-g {
    margin: 1em;
}

.barra-nav_A {
    font-size: 20px;
    text-decoration: none;
    color: #282C34;
    font-weight: 600;
}

.barra-nav_A:hover {
    color: #5270ff;
}

.logo {
    margin-left: 5em;
}

.logo_img {
    border: none;
    width: 300px;
}